---
title: "Marc Morcos - Portfolio"
layout: default
description: "Portfolio displaying some of my projects."
---

<section class="mt-4 mb-5">
<div class="container-fluid">
    
  <!-- Put posts in a masonry grid -->
    <div class="grid">
      <div class="grid-sizer"></div>
      <div class="gutter-sizer"></div>
      {% for post in paginator.posts %}
        <div class="grid-item">
          {% include card-post.html post=post %}
        </div>
      {% endfor %}
    </div>
    <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js" integrity="sha384-GNFwBvfVxBkLMJpYMOABq3c+d3KnQxudP/mGPkzpZSTYykLBNsZEnG2D9G/X/+7D" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/imagesloaded@5/imagesloaded.pkgd.min.js" integrity="sha384-e3sbGkYzJZpi7OdZc2eUoj7saI8K/Qbn+kPTdWyUQloiKIc9HRH4RUWFVxTonzTg" crossorigin="anonymous"></script>
    <script src="{{site.baseurl}}/assets/js/masonryhelper.js"></script> 
      

    <div class="row justify-content-center mt-5">
        {% if paginator.total_pages > 1 %}
        <div class="pagination"> 
          {% if paginator.previous_page %}
            <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
          {% else %}
            <span class="prev">&laquo; Prev</span>
          {% endif %}

          {% for page in (1..paginator.total_pages) %}
            {% if page == paginator.page %}
              <span class="webjeda">{{ page }}</span>
            {% elsif page == 1 %}
              <a href="{{site.baseurl}}/">{{ page }}</a>
            {% else %}
              <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
            {% endif %}
          {% endfor %}

          {% if paginator.next_page %}
            <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
          {% else %}
            <span class="next">Next &raquo;</span>
          {% endif %}
        </div>
        {% endif %}      
    </div>

</div>    
  
</section>