<!--  Replace top menu links here -->

<li class="d-inline-block ml-1 mr-1 nav-item">
    <a class="d-inline-block ml-1 mr-1 nav-item" href="{{site.baseurl}}/index.html"><i class="fa fa-home"></i>&nbsp;Home</a>
</li>
<li class="d-inline-block ml-1 mr-1 nav-item">
    <a class="nav-link" href="{{site.baseurl}}/about"><span class="align-middle"><i class="fa fa-info-circle"></i>&nbsp;About</span></a>
</li>
<li class="d-inline-block ml-1 mr-1 nav-item">
    <a class="nav-link" href="https://drive.google.com/uc?export=download&id=1VHni0vTeqbVvNSDlpHEH064cLIywyqs3"><span class="align-middle"><i class="fa fa-download"></i>&nbsp;Resume</span></a>
</li>

