---
layout: default
---
<section >  
    <div>
      {% include nav-arrows.html %}
    </div>  
    	<div class="row justify-content-center">
    		<div class="side-margin">
                
    			<article class="card">
            
                    
    			<div class="card-body">
                    
    				<h1 class="display-4">
    				    {{page.title}} 
                    </h1>                    
                     
                    <small class="text-muted d-block mb-3">
                        {% unless page.metadate == "hide" %} 
                            {{ page.date | date: '%B %d, %Y' }} 
                        {% endunless %}
                        {% if page.author %}
                            , by {{page.author | capitalize}} 
                        {% endif %}
                    </small>                    
                    
    				{{ content }}
                    
                    {% if page.visit %}
                    <p><a target="_blank" href="{{page.visit}}" class="btn btn-gray d-block font-weight-bold">
                        Visit <i class="fas fa-external-link-alt"></i></a>
                    </p>
                    {% endif %}
                    
                    <!-- {% for category in page.categories %}
                      <a class="btn btn-sm btn-primary mt-2" href="{{site.baseurl}}/categories.html#{{ category | downcase }}">
                        # {{ category | downcase }}
                      </a>
                    {% endfor %} -->
                    
                    
    			</div>  
                    
    			</article>
                
    		</div>
    </div>
    <div>
      {% include nav-arrows.html %}
    </div>
</section>